<template name="intro">
	<section id="intro" class="intro-section">
		<header class="business-header">
			<div class="container">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Book Us Now</h3>
					</div>
					<div class="panel-body">
						{{> booking}}
					</div>
				</div>
			</div>
		</header>

		<div class="container" id="intro-snapshot">
			<div class="row">
				<div class="col-sm-8">
					<h2>Affordable and Reliable Moving Help</h2>
					<p>Moving can be stressful. Our priority is to relieve you of as much of that stress as possible by making moving easy, stress-free and enjoyable. We provide professional, affordable, and last minute moving services in the Ottawa Capital Region.</p>
					<p>We are available <strong>7 days a week,</strong> even <strong>on very short notice.</strong>
						  See our <a href="http://www.movinghelp.com/reviews.aspx?id=19560">Customer Reviews &raquo;</a>
					</p>
				</div>
				<div class="col-sm-4">
					<h2>Contact Us</h2>
					<address>
						<i class="fa fa-phone fa-fw"></i> <a href="tel:+16138788494">613 878 8494</a>
						<br>
						<i class="fa fa-envelope-o fa-fw"></i> <a class="navy-link" href="mailto:prioritymovers@gmail.com?Subject=Booking%20a%20move">prioritymovers@gmail.com</a>
						<p></p>
						<p>
							<a class="btn btn-default btn-lg " href="/contact">Contact Form &raquo;</a>
						</p>
					</address>
				</div>
			</div>
		</div>
	</section>
</template>
